$primary-color:#061513;
$secondary-color:  #BCC3C2;
$third-color:  rgb(34, 175, 128);

$show-home-image: true;
$home-image:url(../img/background.jpg);
$background-opacity: 0.8;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin background {

  @if $show-home-image {
  
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover ;

      &::after {
        content: '';

        position: absolute;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top : 0;
        right: 0;
        background: rgba($primary-color,$background-opacity);

      }

    
    }

  }
  
}

@mixin easeOut {
  transition: all 0.5s ease-out;

}

// Media Mixins

@mixin mediaSm {
  @media screen and (max-width: 500px){
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and
   (max-width: 1170pxpx){
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px){
    @content;
  }
}