//Menu button

.menu-btn {
    position: absolute;
    z-index: 5;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $secondary-color;
         @include easeOut;
    }

    //Rotate Into X With Menu Lines

    &.close {
        transform: rotate(180deg);

        .btn-line{
            // Line 1 - Rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(5px,5px);
            }
            //Line 2 - Hide
            &:nth-child(2){
                opacity: 0;
            }
            //Line 3 - Rotate
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px,-6px);
            }
        }
    }
}

//Menu Overlay 
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    

    &.show{
       visibility: visible; 
    }

    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items : center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        opacity: 0.96;
        padding: 0;
        background: darken(#1c382e,10) ;
        list-style: none;
        transform: translate3d(0,-100%,0);
        @include easeOut;

        &.show {
            //Slice in from top

            transform: translate3d(0,0,0);
        }

    }
    &-branding {
        background:#244338;
        opacity: 0.9;
        transform: translate3d(0,100%,0);
        @include easeOut;

        &.show {
            //Slice in from bottom

            transform: translate3d(0,0,0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background-image:url(../img/portrait.jpg); 
            border-radius: 50% ; 
            border: solid  3px #3f6457;
            background-position: center ;
            background-size: cover ;

        
        }

    }

    .nav-item {
        transform: translate3d(600px,0,0);
        @include easeOut;

        &.show {
            //Slice in from right

            transform: translate3d(0,0,0);
        }

        &.current > a {

            color:lightcoral;
        }

    }
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0 ;
        font-weight: 300; 
        color: $secondary-color;
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: lightcoral;
        }

    }
}




//Delay each nav item slide by 0.1s

@for $i from 1 through 4 {
    .nav-item:nth-child(#{$i}){
        transition-delay: $i * 0.2s;
    }
}




