// Widescreens

@include mediaXl {

    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

}


//desktops & laptops
@include mediaLg {

    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tabs & Small Laps
@include mediaMd {
    main {
    align-items: center;
    text-align: center;

    .lg-heading {
        line-height: 1.2;
        margin-bottom: 3rem;
    }
  }
  
  ul.menu-nav,
  div.menu-branding {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
          transform: translate3d(0,0,0);
      }
  }

  .menu-nav {
      height: 65vh;
      transform: translate3d(-100%,0,0);
      font-size: 20px;
  }

  .menu-branding {
      height: 35vh;
      transform: translate3d(100%,0,0);

      .portrait {
          background-image: url(./img/portrait.jpg) center cover;
          width: 180px;
          height: 180px;
      }
    }

    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio';
        grid-template-columns: 1fr ;
        
    }
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
  
}


//Phones
@include mediaSm {

    main#home h1 {
        margin-top: 10vh;
        line-height: 1.3;
        font-size: 5.1rem;
        margin-bottom: 3rem;
  }
  .projects {
    grid-template-columns: (1, 1fr);
}
    
}