@import 'config';
@import 'menu';

html{
  font-size: 10px;
}

*{
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color:$secondary-color;
  height: 100%;
  margin:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  position: relative;
}
    
//heading 
h1,h2,h3{
  margin:0;
  font-weight: 400;

  &.lg-heading{
    font-size: 7rem;
    }
    
  

  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba( $primary-color, 0.2);
  }
}



  a{
    color: $secondary-color;		;
    text-decoration: none;
    
  }

  header {
    position: fixed;
    z-index: 2;
    width: 100%;
  }

  .text-secondary{
    color:$third-color;
    &:hover {
      color: rgb(221, 168, 194);
      @include easeOut();
    }
  }

  main{
    padding: 5rem;
    //height: 100%;
    min-height: calc(100vh - 50px);

    .icons{
      margin-top: 1rem;

      a {
        padding: 0.5rem;

        &:hover {
          color: $third-color;
          @include easeOut();
        }

      }
    }

    &#home{
      overflow: hidden;
      h1{
        margin-top: 20vh;
      }
    }
  }

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio ';
    grid-template-columns: repeat(2 , 1fr);
  }
  main#about h2 {
    font-size: 1.8rem; 
    margin-top: 2rem;
  }

  .bio-image {
    grid-area: bioimage;
    margin: auto ;
    border-radius: 50%;
    border: $third-color 3px solid;
    width: 250px;
    height: 250px;

  
  }

  .bio{
    grid-area: bio;
    text-decoration: none;
    text-align: left;
    line-height: 3rem;
    font-size: 1.5rem;

    .text-secondary{
      font-size : 3rem ;
      margin-bottom: 2rem;
    }
  }

  //Work/Projects 
  .projects {
    display : grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(2,1fr);

    img{
      width : 100%;
      border: 3px $third-color solid;
      
      &:hover {
        opacity: 0.5;
        border-color: darken($color: #fff, $amount: 15);
        @include easeOut;
      }

    }

  }

  //contact page

  .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 1rem;

    div{
      font-size: 2rem;
      border: 1px #3f6457 solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 4rem;
      &:hover {
        background: #3f6457;
        border-radius: 20px ;
        color: set-text-color($secondary-color);

      }
    }

  }

  //Button Styles 
  .btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
      background:$primary-color;
      color: set-text-color( $primary-color);
    }
  }
  .btn-dark {
    @extend .btn;
    background: darken($color: $primary-color, $amount: 50)
  }

  .btn-light {
    @extend .btn;
    background: darken($color: $third-color, $amount: 10);

  }

  #main-footer {
    text-align: center;
    padding: 2rem;
    height: 50px;
    background: darken($color: #3f6457, $amount: 10);
  }

  @import 'mobile';

  

  



